/* ************************** */
/* BELOW 984px (Tablets) */
/* ************************** */
@media (max-width: 61.5em) {
  .grid {
    column-gap: 3rem;
    row-gap: 2rem;
  }
  .grid--3-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-1 {
    justify-self: end;
  }
  .card-2 {
    justify-self: start;
  }
  .card-3 {
    grid-column: 1 / -1;
    justify-self: center;
  }
}

/* ************************** */
/* BELOW 700px (Tablets) */
/* ************************** */

@media (max-width: 44em) {
    .grid {
        column-gap: 3rem;
        row-gap: 2rem;
      }
      .grid--3-cols {
        grid-template-columns: 1fr;
      }
      .card-1,.card-2,.card-3 {
        justify-self: center;
      }

}
