* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* .container {
  width: 90rem;
  margin: 1rem auto;
} */

body {
  font-family: "Lato", sans-serif;
  color: #444;
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* background-size: 100vw 100vh; */
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  width: 100%;
  height: 5rem;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.02);

  position: fixed;
  top: 0;
  bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 9999;
}

h1{
  font-family: 'Lora', serif;
  /* font-size: 2rem; */
}

/* MOBILE MENU NAV BTN */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 3rem;
  width: 3rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

#header-img {
  width: 2.5rem;
  height: 2.5rem;
  /* margin-right: -38rem; */
}
.main-nav-list,
.logo-nav {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.nav-logo {
  gap: 1rem;
}
.nav-list {
  gap: 3rem;
}
.nav-link:link,
.nav-link:visited {
  /* margin-right: 6rem; */
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  color: #000;
  transition: all 0.3s linear;
}
.nav-link:hover,
.nav-link:active {
  color: #818181;
}
/* .nav-link:last-child {
  margin-right: 2rem;
} */

.section-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin-top: 6rem;
  padding: 1rem 1rem 0 1rem;
}
/* form{
  display: flex;
  flex-direction: column;
} */

/* .email-input{
  display: block;
  width: 20rem;
  text-align: center;
} */

.features {
  width: 100%;
  margin: 0 auto;
  /* The padding-top here is for the menu nav and space correctly */
  padding: 7rem 5rem 2rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.icon {
  min-width: 56px;
  min-height: 56px;
  color: #ff8c00;
}

.text-feature {
  font-size: 1rem;
  line-height: 1.5;
}
.features-row-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.features-row-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.features-row-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.f-info {
  width: 52rem;
}
.section-video {
  margin: 2rem auto;
  margin-bottom: 0;
}
.container-video {
  text-align: center;
  width: 100%;
  height: 20rem;
  padding: 1rem;
}
iframe {
  width: 60%;
  height: 20rem;
}

.grid {
  display: grid;
  row-gap: 1rem;
  column-gap: 1rem;
  justify-content: center;
  justify-items: center;
}

.grid--1-col {
  grid-template-columns: 1fr;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.pricing {
  padding: 5rem 2rem 1rem 2rem;
  margin-bottom: 1rem;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  text-align: center;
  width: 300px;
}

.card h2 {
  margin-bottom: 1rem;
  background-color: #cdcdcd;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  width: 100%;
}
.card h3 {
  font-size: 22px;
  margin-bottom: 0.8rem;
}
.card li {
  list-style: none;
  margin: 0.8rem;
}
.card button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.1rem;
  background-color: #f1c40f;
  font-size: 1em;
  font-weight: 400;
}
.container {
  max-width: 62rem;
  width: 100%;
  margin: 0 auto;
}
footer {
  width: 100%;
  height: 5rem;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: #cdcdcd;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}
li {
  list-style-type: none; /* Remove bullets */
}
li a {
  color: #000;
  font-weight: 500;
  text-decoration: none;
}
span {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  font-size: 0.9em;
  color: #818181;
}
