* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 90rem;
  margin: 1rem auto;
}

body {
  font-family: "Lato", sans-serif;
  color: #444;
  background-size: 100vw 100vh;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header-img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: -38rem;
}
.nav-bar {
  position: fixed;
}
.nav-link {
  margin-right: 6rem;
  text-decoration: none;
  color: black;
}
.nav-link:last-child {
  margin-right: 4rem;
}

.row-1 {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-2 {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-3 {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features {
  padding: 2rem;
  width: 80rem;
  margin: 1rem auto;
}
.features-row-1 {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.features-row-2 {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.features-row-3 {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.f-info {
  width: 52rem;
}

.bi {
  font-size: 4rem;
}

.container-video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  text-align: center;
  width: 300px;
}

.card h2 {
  margin-bottom: 1rem;
  background-color: #cdcdcd;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  width: 100%;
}
.card h3 {
  font-size: 22px;
  margin-bottom: 0.8rem;
}
.card li {
  list-style: none;
  margin: 0.8rem;
}
.card button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.1rem;
  background-color: #f1c40f;
  font-size: 1em;
  font-weight: 400;
}
