* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* .container {
  width: 90rem;
  margin: 1rem auto;
} */

body {
  font-family: "Lato", sans-serif;
  color: #444;
  /* background-size: 100vw 100vh; */
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  width: 100%;
  height: 5rem;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.02);

  position: fixed;
  top: 0;
  bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 9999;
}

/* .sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 4rem;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 9999;
   background-color: rgba(255, 255, 255, 0.97); 
   box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03); 
} */

/* .sticky .section-hero{
  margin-top: 9.6rem;
} */

#header-img {
  width: 2.5rem;
  height: 2.5rem;
  /* margin-right: -38rem; */
}
.nav {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.nav-logo {
  gap: 1rem;
}
.nav-list {
  gap: 3rem;
}
.nav-link {
  /* margin-right: 6rem; */
  text-decoration: none;
  color: black;
}
/* .nav-link:last-child {
  margin-right: 2rem;
} */

.row-1 {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-2 {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-3 {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features {
  padding: 2rem;
  width: 80%;
  margin: 0.5rem auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.text-feature {
  font-size: 1rem;
  line-height: 1.5;
}
.features-row-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.features-row-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.features-row-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.f-info {
  width: 52rem;
}

.bi {
  font-size: 4rem;
}

.container-video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  text-align: center;
  width: 300px;
}

.card h2 {
  margin-bottom: 1rem;
  background-color: #cdcdcd;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  width: 100%;
}
.card h3 {
  font-size: 22px;
  margin-bottom: 0.8rem;
}
.card li {
  list-style: none;
  margin: 0.8rem;
}
.card button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.1rem;
  background-color: #f1c40f;
  font-size: 1em;
  font-weight: 400;
}
.container{
  max-width: 63rem;
  margin: 0 auto;
}
footer {
  width: 100%;
  height: 5rem;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: #cdcdcd;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}
li {
  list-style-type: none; /* Remove bullets */
}
li a {
  color: #000;
  font-weight: 500;
  text-decoration: none;
}
span {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  font-size: 0.9em;
  color: #818181;
}
