* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 90rem;
  margin: 1rem auto;
}

body {
  font-family: sans-serif;
  color: #444;
  background-size: 100vw 100vh;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header-img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: -38rem;
}
.nav-bar {
  position: fixed;
}
.nav-link {
  margin-right: 6rem;
  text-decoration: none;
  color: black;
}
.nav-link:last-child {
  margin-right: 4rem;
}

.row-1 {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-2 {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-3 {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features {
  padding: 2rem;
  width: 80rem;
  margin: 1rem auto;
}
.features-row-1 {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.features-row-2 {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.features-row-3 {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.f-info {
  width: 52rem;
}

.bi {
  font-size: 4rem;
}
